.FormContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.FormRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 0;
}
